*{
	font-family: $body_font;
}
body{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}

nav{
	z-index: 222;
	background-color: transparent;
	box-shadow: none;
	img{
		width: 50px;
		height: 50px;
	}
}
.navbar-fixed{
	position: absolute;
}

.portada{
	z-index: -111;
	background-image: url(../img/bici3.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: baseline ;
	flex-direction: column;
	h1, h3{
		text-align: center;
		display: block;
		margin: 5px;
		padding: 0;
		align-self: center;
		color: white;
	}
}
.typewrite{
	color: $azul;
}
.contenedor{
	h1{
		font-weight: 700;
		color: white;
	}
	margin: -50px 30px 15px 30px;
	z-index: 1111111;
	background-color: white;
	border-radius: $radio;
	.flecha{
		width: 100%;
		margin: 20px auto;
		div{
			display: flex;
			justify-content: center;
			width: 100%;
			margin: auto;
			i{
				color: $celeste;
				font-size: 70px
			}
		}
	}
	.aboutme{
		background-color: $rosado;
		padding: 20px 150px;
		-webkit-clip-path: polygon(0 0, 100% 8%, 100% 92%, 0% 100%);
		clip-path: polygon(0 0, 100% 8%, 100% 92%, 0% 100%);
		color: white;
		.marcela-img{
			border: 8px solid white;
			-ms-transform: rotate(-7deg); /* IE 9 */
    		-webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    		transform: rotate(-7deg);
    		box-shadow: 5px 5px 2px #888888;
    		margin: 10px;
    		@media screen and (max-width: 600px){
    			width: 70%;
    		}
		}
		text-align: center;
		i{
			font-size: 60px;
		}
		i.module{
			color: $rosado;
		}
		i.list{
			color: #00BCD4;
		}
		i.headlike{
			color: #4CAF50;
		}
		p{
			color: white;
		}
		h6{
			font-family: $body_serif;
			font-weight: bold;
		}
		@media screen and (max-width: 600px){
		padding: 20px;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		}
	}
	
	.skills{
		z-index: -22;
		background-color: #F0F0F0;
		margin-top: -80px;
		padding: 60px 30px;
		text-align: center;
		h1{
			color: $azul;
		}
		.skills-big{
			border: 10px solid $celeste;
			border-radius: 50%;
			width: 240px;
			height: 240px;
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			i{
				font-size: 130px;
				
			}
		}
		.javascript{
			border-color: $azul;
			i{
				color: $azul;
			}
		}
		.html5{
			border-color: $celeste;
			i{
				color: $celeste;
			}
		}
		.css3{
			border-color: $rosado;
			i{
				color: $rosado;
			}
		}
		.skills-small{
			border: 6px solid #ACC1C2;
			border-radius: 50%;
			width: 150px;
			height: 150px;
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			i{
				font-size: 70px;
				color: #ACC1C2;
			}
		}

	}
	
	.portafolio{
		text-align: center;
		p{
			
		}
		h1{
			font-family: $body_serif;
		}

		.row1{
			padding: 10px;
			border-radius: $radio;
			position: relative;
			box-sizing: border-box;
			img{
				width: 100%;
				height: auto;
				border-radius: $radio;
			}
			.hoverr{
				position: absolute;
				/*top: 12px;
				left: 12px;
				width: 95%;
				height: 92%;*/
				top:5px;
				left: 5px;
				width: 97%;
				margin: auto;
				height: 95%;
				box-sizing: border-box;
				padding: 30px;
				opacity: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				display: flex;
				flex-direction: column;
				.chip{
					color: white;
					background-color: #448aff;
				}
			}
			.hoverr:hover{
				opacity: 1;
				background-color: rgba(0, 0, 0, .5);
				border-radius: $radio;
			}
		}
	}
	.team{
		.titulo{
			h1{
				font-family: $body_serif;
				text-align: center;
			}
			p{
				
			}
		}
		
		img{
			width: 70%;
			border-radius: 5px;
		}
		.perfil{
			text-align: center;
		}
		i{
			padding: 5px 10px;
			font-size: 20px;
		}
		
	}
	.plans{
		
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);

		background-color: #F0F0F0;
		.titulo{
			padding: 20px 50px;
			h2{
				font-family: $body_serif;
				font-weight: bold;
			}
			p{
				color: $color_grisclaro;
				padding: 20px;
				font-size: 16px;
			}
		}
		.tarjeta{
			background-color: white;
			text-align: center;
			padding: 10px;
			color: gray;
			margin: 10px 0;
		}
		.tarjeta2{
			text-align: center;
			padding: 10px 30px;
			color: gray;
			margin: 10px 0;
		}
		.dolar{
			font-size: 50px;
		}
		sup { 
			vertical-align: top; 
			font-size: 30px; 
		}
		sub { 
			font-size: 30px; 
			padding-bottom: 5px;
		}
	}
	.clients{
		text-align: center;
		padding: 10px 30px;
		.titulo{
			h1{
				font-family: $body_serif;
			}
			p{
				
			}
		}
		img{
			width: 40%;
		}
	}
	.subscribe{
		h4{
			font-family: $body_serif;
			color: white;
			font-weight: bold;
		}
		p{
			color: white;
			font-size: 20px;
		}
		background-image: url("../img/about.jpg");
		background-size: cover;
		background-position: top;
		text-align: center;
		height: 50vh;
		.sub{
			background-color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 30px;
			border-radius: $radio;
		}
	}
	.blog{
		.titulo{
			h1{
				font-family: $body_serif;
				text-align: center;
			}
			p{
				
			}
		}
		.apariencia{
			padding: 25px;
			h6{
				color: #448aff;
			}
			img{
				border-radius: $radio;
			}
		}
	}
	.getInTouch{
		background-image: url("../img/img_city.jpg");
		background-size: cover;
		color: white;
		h2{
			font-family: $body_serif;
			font-weight: bold;
		}
		.titulo{
			padding: 10px 40px 10px 20px;
		}
		.contact{
			background-color: white;
			color: gray;
			border-radius: $radio;
			padding: 20px;
			margin: 30px 20px;
			h5{
				width: 80%;
				margin: auto;
				background-color: $rosado;
				border-radius: $radio;
				color: white;
				text-align: center;
				padding: 20px;
				margin-top: -30px;
				font-weight: bold;
			}
			.name{
				display: flex;
				flex-direction: row;
				width: 95%;
				input{
					margin: 20px 10px;
				}
			}
			.subj{
				width: 90%;
				margin: 20px 20px;
			}
			textarea{
				height: 130px;
			}
		}
	}
	footer{
		background-color: #323437;
		color: white;
		margin-top: -20px;
		h5{
			font-weight: bold;
		}
		.text{
			padding: 30px;
		}
		.twit{
			display: flex;
			flex-direction: row;
			p{
				color: white;
			}
			p.parraf{
				color: lightgray;
				padding: 0 10px;
				font-size: 12px;
			}
		}
		img{
			border-radius: $radio;
		}
		.footer-row{
			border-bottom: 1px solid lightgray;
		}
		.fin{
			padding: 30px 20px;
			display: flex;
			justify-content: space-between;
			a{
				color: white;
			}
			p{
				margin: 0;
				color: white;

			}
		}
	}
}
@media screen and (max-width: 600px){
	.aboutme{
		padding: 0;
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0 );
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}